<ion-header>
  <ion-toolbar>
    <ion-title>
    <p style=color:#59C0FF>Dicas de Entretenimento </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button href="/home" color="cor">
      <ion-icon name="arrow-round-back" style=color:black></ion-icon>
    </ion-button>
    <ion-button href="/jogos" color="cor">
      <ion-icon name="logo-game-controller-b" style=color:black></ion-icon>
    </ion-button>
      
    <ion-card-content>   
    </ion-card-content>
  
  
</ion-content>
